// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'responsive';
body{
    font-size: 14px;
}
.wrap-icon-action{
    height: 36px;
    width: 36px;
    border: 1px solid #FFA338;
    color: #FFA338;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 4px;
    cursor: pointer;
    &.icon-delete{
        border-color: red;
        color: red;
        &:hover{
            background-color: red;
            color: white;
        }
    }
    &:hover{
        background-color: $color;
        color: white;
    }
    &.disabled{
        border-color: #DFDFDF !important;
        color: #DFDFDF !important;
        background-color: white !important;
        cursor: default;
    }
}
.nav-item{
    display: flex;
    align-items: center;
}
.inline-flex{
    display: inline-flex;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    justify-items: center;
}
.inline-block{
    display: inline-block;
}
.modal{
    z-index: 1041 !important;
}
table.table{
    min-width: 800px;
}
.max-3-rows{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.cursor-pointer{
    cursor: pointer;
}
.tr-hover:hover{
    background-color: #dee2e645;
}
