.col-xs-12{
    padding-left: 15px;
    padding-right: 15px;
}
@media (max-width: 1000px) {
    .form-inline {
        .form-group{
            display: block !important;
        }
        .form-control{
            display: block !important;
            width: 100% !important;
        }
    }
    #wrapper-images .image-item{
        flex: 0 1 calc(50% - 10px) !important;;
        margin-right: 0 !important;;
    }
    #wrapper-images .image-item:nth-child(2n){
        margin-right: 0;
    }
}
@media (max-width: 768px){
    .col-xs-12{
        width: 100%;
    }
    #wrapper-images .image-item{
        flex: 0 1 100% !important;
        margin-right: 0 !important;;
    }
}

