Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve 'D:\xampp\htdocs\clevai\index.html' in   'D:\xampp\htdocs\clevai\customer-support':
  Error: Can't resolve 'D:\xampp\htdocs\clevai\index.html' in 'D:\xampp\htdocs\c  levai\customer-support'
  ModuleNotFoundError: Module not found: Error: Can't resolve 'D:\xampp\htdocs\c  levai\index.html' in 'D:\xampp\htdocs\clevai\customer-support'
  
  - Compilation.js:1656 
    [customer-support]/[webpack]/lib/Compilation.js:1656:28
  
  - NormalModuleFactory.js:708 
    [customer-support]/[webpack]/lib/NormalModuleFactory.js:708:13
  
  
  - NormalModuleFactory.js:272 
    [customer-support]/[webpack]/lib/NormalModuleFactory.js:272:22
  
  
  - NormalModuleFactory.js:401 
    [customer-support]/[webpack]/lib/NormalModuleFactory.js:401:22
  
  - NormalModuleFactory.js:122 
    [customer-support]/[webpack]/lib/NormalModuleFactory.js:122:11
  
  - NormalModuleFactory.js:632 
    [customer-support]/[webpack]/lib/NormalModuleFactory.js:632:24
  
  - NormalModuleFactory.js:781 
    [customer-support]/[webpack]/lib/NormalModuleFactory.js:781:5
  
  - Resolver.js:296 finishWithoutResolve
    [customer-support]/[enhanced-resolve]/lib/Resolver.js:296:11
  
  - child-compiler.js:131 
    [customer-support]/[html-webpack-plugin]/lib/child-compiler.js:131:18
  
  - Compiler.js:511 
    [customer-support]/[webpack]/lib/Compiler.js:511:11
  
  - Compiler.js:1063 
    [customer-support]/[webpack]/lib/Compiler.js:1063:17
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [customer-support]/[tapable]/lib/Hook.js:18:14
  
  - Compiler.js:1059 
    [customer-support]/[webpack]/lib/Compiler.js:1059:33
  
  - Compilation.js:2228 
    [customer-support]/[webpack]/lib/Compilation.js:2228:10
  
  
  - Hook.js:18 Hook.CALL_ASYNC_DELEGATE [as _callAsync]
    [customer-support]/[tapable]/lib/Hook.js:18:14
  
  - Compilation.js:2221 
    [customer-support]/[webpack]/lib/Compilation.js:2221:37
  
</pre><script src="//js/app.js"></script>